/* BASE STYLES */
@import url(https://fonts.googleapis.com/css?family=Dosis:700);
body {
  transition: 0.6s all ease;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  color: #5D5179;
  padding-top: 40px;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%); }

/* LAYOUTS */
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title toggle" "game slider" "game slider";
  justify-content: right;
  align-items: top; }
  .container .slider-container {
    grid-area: slider; }
  .container .toggle {
    grid-area: toggle; }
  .container .game {
    grid-area: game; }
  .container .title {
    grid-area: title; }

.rotate {
  transform: rotate(90deg); }

.slider-container {
  display: grid;
  margin-left: -100px;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px auto;
  grid-template-areas: ". slider-col" "slider-row ."; }
  .slider-container .slider-col {
    grid-area: slider-col; }
  .slider-container .slider-row {
    grid-area: slider-row; }

@media screen and (max-width: 1150px) {
  .container {
    grid-template-areas: "title toggle" "game game" "slider slider";
    justify-content: right;
    align-items: top; }

  .slider-container {
    margin-top: 40px;
    margin-left: -140px; } }
@media screen and (max-width: 600px) {
  .slider-container {
    display: none; } }
/* MODULES */
.game {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black; }
  .game .game-cell {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    box-sizing: border-box; }
  .game .snake {
    background-color: #5D5179; }

.apple {
  background-color: black; }

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  outline: 0; }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #5D5179;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out; }
    input[type="range"]::-webkit-slider-thumb:hover {
      background-color: white;
      border: 2px solid #5D5179; }
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.6); }

.value {
  text-align: center;
  font-weight: bold;
  font-size: 7em;
  width: 100px;
  margin-left: 110px;
  height: 200px; }

.row {
  position: relative;
  bottom: 65px;
  left: 80px; }

.toggle {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  position: relative;
  margin: auto 0px;
  left: calc(100% - 80px); }

.toggle-input {
  display: none; }

.toggle-button {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  border: solid 3px black;
  border-radius: 10px;
  color: white;
  width: 80px;
  height: 30px;
  transition: all 0.3s ease;
  cursor: pointer; }
  .toggle-button::before {
    position: absolute;
    top: 5px;
    left: 38px;
    content: "off";
    display: inline-block;
    height: 20px;
    padding: 0px 3px;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease; }

.toggle-input:checked + .toggle-button {
  border: solid 3px white; }
  .toggle-input:checked + .toggle-button::before {
    left: 5px;
    content: "on";
    color: white; }

/*# sourceMappingURL=style.css.map */
