.game
  display: flex
  flex-wrap: wrap
  border: 1px solid black
  
.game-cell
  display: inline-block
  border: 1px solid black
  width: $cell-size
  height: $cell-size

.snake 
  background-color: green 