.container 
  display: grid
  grid-template-columns: auto auto
  grid-template-rows: auto auto auto
  grid-template-areas: "title buttons""game slider""game slider" 
  justify-content: right
  align-items: top
  
  .slider-container
    grid-area: slider

  .buttons
    grid-area: buttons
    position: relative
    margin: 20px 0px

  .game
    grid-area: game

  .title
    grid-area: title

.rotate
  transform: rotate(90deg)

.slider-container
  display: grid
  margin-left: -100px
  grid-template-columns: 200px auto
  grid-template-rows: 200px auto
  grid-template-areas: ". slider-col""slider-row ."
  
  .slider-col
    grid-area: slider-col
  .slider-row
    grid-area: slider-row

.darkmode
  background: black
  color: white

.text 
  position: relative
  display: inline
  font-size: 1.5rem
  top: 125px
  left: 15px

.score
  left: 140px

.icon
  position: relative
  left: calc(100% - 22px)
  font-size: 2rem
  bottom: 5px
  &:hover
    animation: restart 0.8s 1 linear

#restart
  position: relative
  height: 30px
  width: 30px
  left: calc(100% - 130px)
  font-size: 2rem
  bottom: 0px
  border: none
  background: white
  outline: none
  border-radius: 50%
  transition: 0.6s all ease
  