@import url(https://fonts.googleapis.com/css?family=Dosis:700)
  
body
  transition: 0.6s all ease
  font-family: "Dosis", Helvetica, Arial, sans-serif
  color: #34495e
  padding-top: 40px
  text-shadow: white 1px 1px 1px
