.game
  display: flex
  flex-wrap: wrap
  border: 3px solid black
  
  .game-cell
    display: inline-block
    width: $cell-size
    height: $cell-size
    border: 2px solid white
    box-sizing: border-box

  .snake 
    background-color: $snake-color
    

.apple
  background-color: $apple-color