.toggle
  font-family: Helvetica, Arial, sans-serif
  display: inline-block
  position: relative
  margin: auto 0px
  left: calc(100% - 120px)
  
.toggle-input
  display: none

.toggle-button
  position: relative
  display: inline-block
  font-size: 1rem
  line-height: 20px
  text-transform: uppercase
  border: solid 3px black
  border-radius: 10px
  color: white
  width: 80px
  height: 30px
  transition: all 0.3s ease
  cursor: pointer

  &::before
    position: absolute
    top: 5px
    left: 38px
    content: "off"
    display: inline-block
    height: 20px
    padding: 0px 3px
    font-weight: bold
    color: black
    transition: all 0.3s ease

.toggle-input:checked + .toggle-button
  border: solid 3px white

  &::before
    left: 5px
    content: "on"
    color: white
    